body{
    background-color: bisque;
}
h1{
    background-color: coral;
    font-style: oblique;
}
#summary{
    background-color: burlywood;
    font-style: normal;
}
#education{
    background-color: burlywood;
    font-style: normal;
}
#skill{
    background-color: burlywood;
}
#others{
    background-color: burlywood;
}
#rights{
    background-color: indianred;
}